examples/flow4.json
[{"id":"4eb6b37d.7fe2cc","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"c857dcff.5be21","type":"http in","z":"4eb6b37d.7fe2cc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":180,"wires":[["21e11534.6cf63a"]]},{"id":"21e11534.6cf63a","type":"random","z":"4eb6b37d.7fe2cc","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":180,"wires":[["ab98e5be.15a418","d7743871.e845f8"]]},{"id":"ab98e5be.15a418","type":"http response","z":"4eb6b37d.7fe2cc","name":"","statusCode":"","headers":{},"x":430,"y":140,"wires":[]},{"id":"d7743871.e845f8","type":"debug","z":"4eb6b37d.7fe2cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":220,"wires":[]}]