examples/flow1.json
[{"id":"10b25890.f30c57","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c8984502.fc2e38","type":"debug","z":"10b25890.f30c57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":60,"wires":[]},{"id":"2fc46ecb.ab9ee2","type":"rpi-gpio in","z":"10b25890.f30c57","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":120,"wires":[["c8984502.fc2e38","f1dc9945.6ec6f8"]]},{"id":"81ad088d.87f108","type":"rpi-gpio out","z":"10b25890.f30c57","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":180,"wires":[]},{"id":"f1dc9945.6ec6f8","type":"switch","z":"10b25890.f30c57","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[["e76ce651.3005e8"],["e68fee5c.fa17a"]]},{"id":"e76ce651.3005e8","type":"change","z":"10b25890.f30c57","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["81ad088d.87f108"]]},{"id":"e68fee5c.fa17a","type":"change","z":"10b25890.f30c57","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["81ad088d.87f108"]]}]