examples/flow5.json
[
    {
        "id": "49887ace.02a374",
        "type": "tab",
        "label": "流程5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a430f41.a1453",
        "type": "http in",
        "z": "49887ace.02a374",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "21e33856.ad0258"
            ]
        ]
    },
    {
        "id": "b0d02d52.fefff",
        "type": "rpi-gpio in",
        "z": "49887ace.02a374",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "6447b49b.216a4c"
            ]
        ]
    },
    {
        "id": "6447b49b.216a4c",
        "type": "function",
        "z": "49887ace.02a374",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "7f8fc4cc.0422dc"
            ]
        ]
    },
    {
        "id": "21e33856.ad0258",
        "type": "function",
        "z": "49887ace.02a374",
        "name": "Get PGIO",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "7f8fc4cc.0422dc",
                "98f58096.cc018"
            ]
        ]
    },
    {
        "id": "98f58096.cc018",
        "type": "http response",
        "z": "49887ace.02a374",
        "name": "http",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f8fc4cc.0422dc",
        "type": "debug",
        "z": "49887ace.02a374",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 220,
        "wires": []
    }
]