examples/flows1.json
[{"id":"10b25890.f30c57","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c8984502.fc2e38","type":"debug","z":"10b25890.f30c57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":120,"wires":[]},{"id":"2fc46ecb.ab9ee2","type":"rpi-gpio in","z":"10b25890.f30c57","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":120,"wires":[["81ad088d.87f108","c8984502.fc2e38"]]},{"id":"81ad088d.87f108","type":"rpi-gpio out","z":"10b25890.f30c57","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":360,"y":200,"wires":[]}]